
#latte-label{
font-size:150%;
}
#price{
    margin-left: 35%;   
}
 .mat-panel-title {
    justify-content: space-between;
    align-items: center;
  }

  #priceDisplay{
    margin-left: 15%; 
  }

#increaseButton{
    background-color: green;
    margin-left: 30%; 
}
#buttons{
    display: flex;
    
   flex-direction: row;
   margin-right: 70%; 
}
#add{
    display: flex;
    background-color: green;
   flex-direction: row;
   margin-left: 25%; 
}
#out{
    background-color: grey;
    margin-left: 35%;   
}

