<div id="outer">
    <div id="top-section">
        <div>
    <img src="../../assets/{{product.image}}" alt="cup of coffee" id="coffee-main">
    </div>
    <div>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
              
                    <strong id="latte-label">{{product.name}}</strong>
               
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
            <div>
            <strong id="price">${{product.price}}</strong>
            </div>
            <br>
            <div id="buttons">
                <button id="increaseButton" mat-mini-fab color="primary" (click)="subToQuantity()">-</button>
                <output id="out" type="number" value="5">{{quantity}}</output>
                <button id="increaseButton" mat-mini-fab color="primary" (click)="addToQuantity()">+</button>
            </div>
        <br>
        <div>
        <output id="priceDisplay" type="number" value="5">Subtotal: ${{quantity*product.price}}</output>
    </div>
        <br>
            <div>
                <button id="add" mat-raised-button color="primary" (click)="addToCart()">Add</button>
            </div>
        </div>
          </mat-expansion-panel>
    </div>
    </div>
    
   