
#second-section{
    list-style-type: none;
    margin: 0;
   padding: 1%;
    overflow: hidden;
    
    position: fixed;
    top: 170px;
    width: 100%;
  
   text-align: center;
   left: 0;
   display: flex;
}
#latte-label{
padding-top: 2%;
padding-left: 46.5%;
font-size:200%;
}
#top-section{
    list-style-type: none;
    margin: 0;
   
    overflow: hidden;
  
    position: fixed;
    top:55px;
    width: 100%;
   justify-content: center;
   text-align: center;
   left: 0;
   display: flex;
  
}
#coffee-main{
    width: 150px;
    margin-top: 2%;
   
}